{
  "extends": ["plugin:prettier/recommended", "prettier/react", "airbnb"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "trailingComma": "es5", "printWidth": 100, "semi": true }
    ]
  },
  "globals": {
    "document": true
  }
}